body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
    background-color: #f1efdf;
}

.hero {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
}

#links {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#links a {
    text-decoration: none;
    color: #9E9E9E;
}

#avatar {
    height: 20vh;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 30vh;
}

@media (max-width: 424px) {
    #logoSvg {
        height: 5vh;
    }
}

@media (min-width: 425px) {
    #logoSvg {
        height: 6vh;
    }
}

.titulos {
    font-family: "Saira Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 700;
}


.linea {
    margin: 0px auto;
    height: 0.25rem;
    width: 8rem;
}

.habilidades img {
    height: 20vh;
    margin: 3vh 2vw;
}

.card-title,
.modal-title {
    font-weight: bold;
}

.modal-body img {
    margin-bottom: 2rem;
}

footer a {
    text-decoration: none;
    color: #9E9E9E;
}

.card {
    border: 1px solid #9E9E9E;
}