body {
    margin: 0;
    padding: 0;
    font-family: "Yanone",sans-serif;
}

span {
    font-family: "Anton",sans-serif;
}

header {
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 25rem;
}

header h1 {
    font-family: "Anton",sans-serif;
    position: relative;
    top: 25rem;
    left: 0;
    color: #ffffff;
    padding-top: 0.5rem;
}

header h2:after {
    font-family: "Yanone",sans-serif;
    position: relative;
    top: 25rem;
    left: 0;
    color: #ffffff;
    content: "YO SOY";
    display: block;
    margin: 0;
    width: 25%;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #ffffff;
}

.card-title {
    font-weight: 700;
}

.carousel-indicators {
    top: 105%;
}

.carousel-indicators li {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #373a3c;
}

.logo_claro, .logo_telmex {
    vertical-align: bottom;
    display: inline-block;
}

.logo_telmex {
width: 100%;
}

.logo_claro {
    width: 100%;
}

